<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="Skills" connectionString="Data Source=PC\SQLEXPRESS01;Initial Catalog=Skill;Integrated Security=True"/>
  </connectionStrings>
</configuration>